<div id="gamesheet" class="container">
    <div class="row">
        <div class="col-3 centered">
            <input id="roundCounter" type="number" [(ngModel)]="gameSheet.round" />
        </div>
        <div class="col"><i class="territory forest bi bi-tree-fill"></i></div>
        <div class="col"><i class="territory field bi bi-square-fill"></i></div>
        <div class="col"><i class="territory village bi bi-house-fill"></i></div>
        <div class="col"><i class="territory railroad bi bi-train-front-fill"></i></div>
        <div class="col"><i class="territory river bi bi-droplet-fill"></i></div>
        <div class="col-2 label centered">Summe</div>
        <div class="w-100"></div>
        <div class="col-3 label centered"><span>Aufträge</span><i style="float:right" class="bi bi-chat-left-fill"></i></div>
        <div class="col" *ngFor="let territory of territories">
            <span class="smallLabel d-none d-sm-inline">&nbsp;</span>
            <input [attr.id]="territory.toLowerCase()+'QuestPoints'" type="number" min="0" [(ngModel)]="gameSheet.quests[territory]">
        </div>
        <div class="col-2 sum">{{gameSheet.questSum()}}</div>
        <div class="w-100"></div>
        <div class="col-3 label centered"><span>Fahnen</span><i style="float:right" class="bi bi-flag-fill"></i></div>
        <div class="col" *ngFor="let territory of territories; let i = index">
            <span class="smallLabel d-none d-sm-inline" *ngIf="i>=3; else emptyLabel">Längste</span>
            <ng-template #emptyLabel><span class="smallLabel d-none d-sm-inline">&nbsp;</span></ng-template>
            <input [attr.id]="territory.toLowerCase()+'ConnectedPoints'"  type="number" min="0" [(ngModel)]="gameSheet.connected[territory]">
        </div>
        <div class="col-2 sum">{{gameSheet.connectedSum()}}</div>
        <div class="w-100"></div>
        <div class="col-10">
            <div class="label">Freigespielt</div>
            <div id="unlockedPoints" class="row">
                <div class="achievement col-md-6 col-12 " *ngFor="let achievementType of achievements;">
                    <input type="checkbox" [id]="achievementType.toLowerCase()+'Cb'" [(ngModel)]="gameSheet.achievements[achievementType]">
                    <span [textContent]="achievementLabels.get(achievementType)"></span>
                    <input class="achievement" type="number" min="0" [id]="achievementType.toLocaleLowerCase+'Points'" [(ngModel)]="gameSheet.achievements[achievementType]">
                </div>
            </div>
        </div>
        <div class="col-2 sum">{{gameSheet.achievmentSum()}}</div>
        <div class="w-100"></div>
        <div class="col-5">
            <div class="label">Mitspielende:</div>
            <div><input id="players" type="text" [(ngModel)]="gameSheet.players"></div>
        </div>
        <div class="col-3">
            <div class="label">Datum:</div>
            <div><input id="gameDate" type="date" [(ngModel)]="date" (input)="onDateChanged()"></div>
        </div>
        <div class="col-2 centered">
            <div class="label fs-6">Ergebnis:</div>
        </div>
        <div class="col-2 sum fs-1 fw-bold centered" style="justify-content: end;">
            <div>{{gameSheet.sum()}}</div>
        </div>
    </div>
</div>
