div#gamesheet {
    background-color: #385338;
    color: white;
}

div.sum {
    display: flex;
    justify-content: end;
    align-items: center;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 992px) {
    i.territory {
        font-size: xx-large;
    }
}

@media (max-width: 992px) {
    i.territory {
        font-size: calc(50% + 2.5vw);
    }
}

i.territory {
    text-align: center;
    display: block;
}

i.territory.forest {
    color: rgb(8, 231, 8);
}

i.territory.field {
    color: rgb(238, 238, 101);
}

i.territory.village {
    color: rgb(199, 75, 75);
}

i.territory.railroad {
    color: rgb(167, 124, 124);
}

i.territory.river{
    color: rgb(78, 134, 219);
}

div.row, div.row > div.col,div.col-2,div.col-3,div.col-4,div.col-5,div.col-10{
    border-collapse: collapse;
    border: 1px solid whitesmoke;
}

.label {
    font-weight: bold;
}

.smallLabel {
    font-size: xx-small;
}

#roundCounter {
    width: 20%;
    min-width: 2em;
    margin: 0 40%;
}

#unlockedPoints {
    border: 0;
    margin: 0 0 10px 0;
}

div.achievement {
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: small;
}

div.achievement > input,span {
    padding: 0 5px;
    margin: 0px;
}

div.achievement > span {
    flex-grow: 8;
    flex-shrink: 8;
}

input[type="number"].achievement {
    width: 2em;
}

input[type="number"], input[type="date"], input[type="text"] {
    width: 100%;
    background-color: transparent;
    border-bottom: 1px solid white;
    border-collapse: collapse;
    color: inherit;
    border: 0;
    border-bottom: 1px solid white;
}

input[type="number"] {
    text-align: center;
    appearance: textfield;
    padding: 0;
    margin: 0 0 10px 0;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}