<div class="container" id="frame">
    <app-game-sheet></app-game-sheet>
    <div class="footer">
        <p style="font-size:x-large">Get the game &#64;<a href="https://pegasus.de/15245/dorfromantik-das-brettspiel-spiel-des-jahres-2023">Pegasus</a></p>
        &nbsp;
        <p>Dorfromantik-Gamesheet application licensed under <a href="https://gitlab.com/thuri/dorfromantik-gamesheet/-/blob/ff7c7b36aa190708df9ba3dcfe1720baff92f8ef/LICENSE">MIT license</a></p>
        <p>Source code available on <a href="https://gitlab.com/thuri/dorfromantik-gamesheet">gitlab.com</a></p>
    </div>
</div>
